@import '_mixins';
@media (max-width: 1439px) {
  .review-list{
    @include padding-margin(19px, 10px,0, 10px,0, auto,0,auto);
    max-width: none;
  }
  .pink-color-container .container {
    max-width: none;
    width: auto;
  }
}
@media (max-width:1200px) {
  .container{
    @include only-sides-margin(auto,auto);
    @include only-sides-padding(0,0);
  }
  .laptops-list{
    @include flex-space-between(center);
    @include padding-margin(62px, 0, 0, 0,0, auto,0, auto);
    max-width: 600px;
  }
  .laptop-item{
    @include flex-flex-direction(column);
    padding: 0 2px 45px 2px;
    align-items: center;
  }
  .laptop-txt-one{
    padding-bottom: 0;
  }
  .staff-list{
    @include flex-flex-direction(column);
    margin: 0 auto;
    max-width: 489px;
  }
  .first-two-cards{
    @include padding-margin(0, 0, 50px, 0,0,0,0,0);
  }

  .lil-description-items{
    @include margin-max-width(0, auto,0, auto,460px);
    display: flex;
    .col-lg-3{
      flex: 0 0 50%;
    }
  }
  .service-first-item,.service-second-item,.service-third-item,.service-fourth-item{
    margin: 25px 0 0 0;
  }
  .skills-list{
    @include margin-max-width(0, auto,0, auto,548px);
    .col-3{
      max-width: 32%;
    }
  }
  .skill-item-one,.skill-item-two,.skill-item-three,.skill-item-four{
    margin: 0;
  }
  .skill-item{
    @include padding-margin(0, 18px, 0, 9px,0, 37px, 26px, 50px);
  }
  .skill-name{
    font-size: 17px;
  }
}

@media (max-width: 1030px) {

  .first-two-cards, .second-two-cards{
    max-width: none;
  }
  .review-list{
    flex-direction: column;
  }
  .people-avatar{
    margin: 0 auto 5px auto;
  }
  .pink-color-container .col-lg-6{
    margin: 15px auto 43px auto;
  }
  .comment-item{
    @include flex-flex-direction(column);
    padding: 0;
    text-align: center;
    .card-body{
      padding: 0;
    }
  }
}
@media (max-width: 992px) {
  .gray-color-container{
    .container{
      padding: 0;
      max-width: inherit;
    }
  }
}
@media (max-width: 767px) {
  .skills-list{
    max-width: 272px;
    .col-3{
      max-width: 60%  ;
    }
  }
}
@media (max-width: 877px) {
  .form-box{
    @include margin-max-width(0, auto,0, auto,382px);
  }
  .first-input,.second-input{
    margin: 23px 0 0 0;
  }
  textarea{
    @include margin-regular-width(24px, 0, 55px, 0,377px);
  }
  .input-box{
    flex-direction: column;
  }
  .sixth-lil .lil-paragraph{
    @include margin-max-width(0, auto,0, auto,314px);
  }
  .dark-blue-container ul{
    font-size: 17px;
  }
}
@media (max-width: 600px) {
  .laptop{
    width: 272px;
  }
  .lil-center-heading,.second-lil,.third-lil,.fourth-lil,.fifth-lil,.sixth-lil{
    .lil-tittle{
      font-size: 24px;
      margin: 115px 0 21px 0;
    }
    .lil-paragraph{
      @include margin-max-width(0, auto,0, auto,314px);
      font-size: 14px;
    }
  }
  .about-us{
    font-size: 22px;
  }
  .first-two-cards, .second-two-cards{
    flex-direction: column;
    padding: 0;
  }
  .card-item{
    padding: 0;
  }
  .staff-list{
    max-width: 210px;
  }
  .every-first-staff-avatar{
    margin: 0;
  }
  .first-staff-member,.second-staff-member,.third-staff-member,.fourth-staff-member{
    margin: 40px 0 -4px 0;
  }
  .work-place-one,.work-place-two,.work-place-three,.work-place-four{
    margin: 0;
  }
  .staff-description{
    margin: 21px 0 0 0;
  }
  .social-media{
    margin: 29px auto 28px auto;
  }
  .social-media-img{
    padding: 0 3px 0 3px;
  }
  .services-box{
    flex-direction: column;
  }
  .lil-description-items{
    flex-direction: column;
  }
  .footer-list-item{
    padding: 0 8px 0 2px;
  }
  .dark-blue-container ul{
    font-size: 16px;
    justify-content: center;
  }
  .container{
    width: auto;
    padding: 0;
  }
  .row{
    @include only-sides-margin(auto,auto);
  }
}
@media (max-width: 450px) {
  .pink-color-container .col-lg-6 {
    max-width: 80%;
  }
  .first-input, .second-input{
    @include margin-width-height(23px, auto, 0, auto,194px,30px);
  }
  textarea{
    @include margin-width-height(23px, auto,23px, auto,194px,100px);
    display: block;
  }
  .about-us{
    margin: 135px 0 56px -6px;
  }
  .word-type-filter{
    flex-direction: column;
  }
  .first-filter-item,.second-filter-item,.third-filter-item,.fourth-filter-item{
    @include margin-regular-width(10px, 0, 0, 0,75px);
  }
}
