@import "mixins";
.header_burger-menu{
  display: none;
}
.header-menu-hidden,.menu-opened{
  position: absolute;
  -webkit-transition: .40s ease-in-out,background;
}
.header-menu-hidden{
  @include border-radius-bg-color(22px,chocolate);
  top: -100%;
  left: 27%;
  width: 108px;
  padding: 131px 5px 21px 5px;
  border: 8px solid #A85418;
}
.hidden-menu-list{
  @include flex-flex-direction(column);
  align-items: center;
  li{
    margin: 0 auto;
  }
}
.menu_opened{
  top: -127px;
}
@media (min-width: 1214px) {
  .header-menu-hidden{
      top: -100%;
  }
}
@media (max-width: 1214px) {
  .navigation-menu-visible{
    display: none;
  }
  .header_burger-menu {
    @include border-radius-bg-color(4px,transparent);
    @include custom-images(42px,32px);
    display: block;
    position: absolute;
    z-index: 10;
    border: 1px solid rgba(255, 255, 255, 0.7);
    opacity: 80%;
    margin: 38px 13px 3px 10px;
    right: 16px;
    top: 19px;
    bottom: 19px;
    &:before {
      @include burger-slices(#ffffff,11px);
      content: "";
    }
    &:after {
     @include burger-slices(#ffffff,19px);
      content: "";
    }
    .middle-burger-slice {
      @include burger-slices(#ffffff,15px);
    }
  }
  .open-nav-icon{
    &:before,&:after{
      border-radius: 51px;
      height: 3px;
      opacity: 1;
      background-color: aqua;
      -webkit-transition: .25s ease-in-out,background;
      cursor: pointer;
    }
    &:after{
      -webkit-transform: rotate(-135deg);
      width: 57%;
      top: 15px;
    }
    &:before{
      -webkit-transform: rotate(135deg);
      top: 14px;
    }
    span{
      display: none;
    }
  }
}