@import '_mixins';
.purple-color-container{
  @include background-color-container(#87509c,auto);
  @include padding-margin(0,0,145px,0,0,0,0,0);
  .container{
    height: auto;
    .row{
      justify-content: space-between;
    }
  }
}
nav{
  max-width: 495px;
  width: 100%;
  @include flex-space-between(flex-start);
  li{
    @include custom-images(77px,32px);
    @include flex-space-between(center);
    margin: 0 13px 0 0;
    align-items: center;
  }
  .menu-item3-spacing{
    margin: 0 8px 0 0;
  }
  .menu-item5-spacing{
    margin: 0 0 0 6px;
  }
}
.menu-list{
  li{
    &:hover{
      @include border-radius-bg-color(5px,#643a79)
    }
  }
  @include variable-txt-color(16px,0,400,0,#ffffff);
  @include flex-space-between(end);
  margin: 0 0 2px 2px;
  text-transform: uppercase;
  flex-direction: row;
  align-items: flex-end;
}
.cuda{
  @include custom-images(118px,37px);
  padding: 57px 0 0 76px;
}

.about-us{
  @include variable-txt-color(42.2px,48px,700,1,#f7f3ea);
  margin:135px 0 56px -19px;
}
.about-us-spacing{
  margin: 0 0 0 9px;
}
.work-inviter{
  @include margin-max-width(0, auto,0, auto,919px);
  text-align: center;
}
.work-invite-button{
  @include button( #eb7d4b,#c86a40);
  width: 294px;
}
.work-with-us{
  @include variable-txt-color(18px,26px,600,0.019em,#ffffff);
  margin: 3px 0 0 3px;
}
