@mixin background-color-container($color,$height) {
  background-color: $color;
  height: $height;
  width: 100%;
}
@mixin variable-txt-color($font-size,$line-height,$font-weight,$letter-spacing,$coloring) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  letter-spacing: $letter-spacing;
  color: $coloring;
}

@mixin heading-slash-paragraph($tittle-color,$slash-color,$p-color) {
  display: flex;
  flex-direction: column;
  max-width: 630px;
  text-align: center;
  .lil-fixing{
  }
  .lil-tittle{
    font-size: 40px;
    line-height: 29px;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: $tittle-color;
    margin: 119px 0 22px 3px;
  }
  .lil-slash{
    width: 87px;
    height: 4px;
    opacity: 0.14;
    background-color: $slash-color;
    margin: 0 auto 18px auto;
  }
  .lil-paragraph{
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: $p-color;
    padding: 0 0 0 11px;
  }
}
@mixin custom-images($width,$height){
  width: $width;
  height: $height;
}
@mixin button ($button-color, $border-color){
  @include variable-txt-color(18px,26px,600,0.02em,#ffffff);
  margin: 0 auto;
  width: 293px;
  height: 66px;
  background-color: $button-color;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border-bottom: 4px solid $border-color;
}
@mixin padding-margin($padding-top,$padding-right, $padding-bottom, $padding-left, $margin-top,$margin-right, $margin-bottom,$margin-left){
  padding: $padding-top $padding-right $padding-bottom $padding-left;
  margin: $margin-top $margin-right $margin-bottom $margin-left;
}