@mixin background-color-container($color,$height) {
  background-color: $color;
  height: $height;
  width: 100%;
}
@mixin variable-txt-color($font-size,$line-height,$font-weight,$letter-spacing,$coloring) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  letter-spacing: $letter-spacing;
  color: $coloring;
}

@mixin heading-slash-paragraph($tittle-color,$slash-color,$p-color) {
  display: flex;
  flex-direction: column;
  max-width: 630px;
  text-align: center;
  .lil-fixing{
  }
  .lil-tittle{
    font-size: 40px;
    line-height: 29px;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: $tittle-color;
    margin: 119px 0 22px 3px;
  }
  .lil-slash{
    width: 87px;
    height: 4px;
    opacity: 0.14;
    background-color: $slash-color;
    margin: 0 auto 18px auto;
  }
  .lil-paragraph{
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: $p-color;
    padding: 0 0 0 11px;
  }
}
@mixin custom-images($width,$height){
  width: $width;
  height: $height;
}
@mixin button ($button-color, $border-color){
  @include variable-txt-color(18px,26px,600,0.02em,#ffffff);
  margin: 0 auto;
  width: 293px;
  height: 66px;
  background-color: $button-color;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border-bottom: 4px solid $border-color;
}
@mixin padding-margin($padding-top,$padding-right, $padding-bottom, $padding-left, $margin-top,$margin-right, $margin-bottom,$margin-left){
  padding: $padding-top $padding-right $padding-bottom $padding-left;
  margin: $margin-top $margin-right $margin-bottom $margin-left;
}
@mixin margin-letter-spacing($margin-top, $margin-right, $margin-bottom, $margin-left,$letter-spacing){
 margin:$margin-top $margin-right $margin-bottom $margin-left;
 letter-spacing: $letter-spacing;
}
@mixin padding-letter-spacing($padding-top, $padding-right, $padding-bottom, $padding-left,$letter-spacing){
  padding: $padding-top $padding-right $padding-bottom $padding-left;
  letter-spacing: $letter-spacing;
}
@mixin margin-max-width($margin-top, $margin-right, $margin-bottom, $margin-left,$max-width){
  margin:$margin-top $margin-right $margin-bottom $margin-left;
  max-width: $max-width;
}
@mixin flex-space-between($justify-parameter){
  display: flex;
  justify-content: $justify-parameter;
}
@mixin letter-spacing-line-height ($letter-spacing, $line-height){
  letter-spacing: $letter-spacing;
  line-height: $line-height;
}
@mixin width-letter-spacing-margin($max-width,$letter-spacing,$margin-top,$margin-right,$margin-bottom,$margin-left){
  max-width: $max-width;
  letter-spacing: $letter-spacing;
  padding: $margin-top $margin-right $margin-bottom $margin-left;
}
@mixin width-letter-spacing-padding($max-width,$letter-spacing,$padding-top,$padding-right,$padding-bottom,$padding-left){
  max-width: $max-width;
  letter-spacing: $letter-spacing;
  padding: $padding-top $padding-right $padding-bottom $padding-left;
}
@mixin margin-regular-width($margin-top, $margin-right, $margin-bottom, $margin-left,$width){
  margin:$margin-top $margin-right $margin-bottom $margin-left;
  width: $width;
}
@mixin border-radius-bg-color($border-radius, $background-color){
  border-radius: $border-radius;
  background-color: $background-color;
}
@mixin flex-flex-direction($flex-direction){
  display: flex;
  flex-direction: $flex-direction;
}
@mixin max-width-letter-spacing($max-width,$letter-spacing){
  max-width: $max-width;
  letter-spacing: $letter-spacing;
}
@mixin burger-slices($background-color,$top){
  background-color: $background-color;
  position: absolute;
  opacity: 80%;
  width: 54%;
  height: 2px;
  left: 10px;
  top: $top;
}