@import "mixins";
.fourth-lil{
  @include heading-slash-paragraph(#393939,#000000, #393939);
  .lil-paragraph{
    letter-spacing: 0.4px;
  }
  .lil-tittle{
    @include margin-letter-spacing(119px, 0, 22px, 6px,4px);
  }
}
.human-color-container{
  @include background-color-container(#ffdd99,1423px);
}
.load-projects-botton{
  @include button(#17c2a4,#14a58c);
  @include custom-images(289px,63px);
  padding: 3px 0 0 5px;
}
.laptops-list{
  @include padding-margin(62px, 0, 81px, 5px, 0, 0, 0, 0);
  text-align: center;
}
.word-type-filter{
  margin: 0 auto;
}
.filter-criteria-item{
  @include padding-margin(0,0,0,0,0,0,0,0);
  @include custom-images(84px,38px);
  @include border-radius-bg-color(6px,rgba(0,0,0,0.07));
  &:hover{
    background-color: #ffffff;
  }
}
.criteria-item{
  @include variable-txt-color(18px,38px,400,0.7px,#393939);
  margin: 0 0 0 1px;
}
.laptop-item-txt{
  @include variable-txt-color(18px,19px,400,0.02em,#393939);
  display: block;
}
.laptop-item{
  padding: 0;
}
.laptop-item-one{
  margin: 0 0 0 2px;
}
.laptop-txt-one{
  padding: 27px 0 62px 3px;
}
.laptop-item-two{
  margin: 3px 0 0 -7px;
}
.laptop-txt-two{
  padding: 24px 6px 0 0;
}
.laptop-item-three{
  margin: 0 0 0 4px;
}
.laptop-txt-three{
  padding: 26px 23px 0 0;
}
.laptop-item-four{
  margin: 1px 0 0 -8px;
}
.laptop-txt-four{
  padding: 25px 0 0 14px;
}
.first-filter-item{
  margin: 40px 0 0 4px;
}
.second-filter-item{
  margin: 40px 34px 0 11px;
}
.third-filter-item{
  @include margin-regular-width(40px, 18px, 0, -24px,90px);
}
.fourth-filter-item{
  @include margin-regular-width(40px, 2px, 0, -8px,90px);
}