@import "mixins";
.pink-color-container{
  @include background-color-container(#d74680,auto);
  margin: 0 0 -15px 0;
  .container{
    max-width: 1410px;
  }
  .col-lg-6{
    @include margin-max-width(0, -101px, 145px, 0,38%);
  }
}
.fifth-lil{
  @include heading-slash-paragraph(#ffffff,#000000, #ffffff);
  .lil-tittle{
    @include margin-letter-spacing(118px,0,22px,6px,4px);
  }
  .lil-paragraph{
    @include padding-letter-spacing(0,0,0,11px,0.4px);
  }
}
.people-avatar{
  @include custom-images(96px,96px);
  @include border-radius-bg-color(50%,#787878);
}
.comment-item{
  display: flex;
  flex-direction: row;
  padding: 0 0 0 155px;
  .card-body{
    padding: 4px 0 0 47px;
  }
  span{
    display: inline-block;
  }
}
.review-tittle{
  padding: 0 0 0 2px;
}
.review-name{
  padding: 23px 0 6px 0;
}
.review-paragraph{
  @include variable-txt-color(21px,31px,400,0.02em,#ffffff);
  font-style: italic;
}
.review-name{
  @include variable-txt-color(24px,26x,700,0.02em,#ffffff);
}
.review-tittle{
  @include variable-txt-color(18px,26x,400,0.02em,#ffdd99);
}
.review-list{
  @include padding-margin(65px, 0, 0, 0, 0,0,0,0);
}
.review-name-one{
  @include margin-letter-spacing(0,0,0,3px,0.36px);
}
.review-tittle-one{
  @include padding-letter-spacing(0,0,0,4px,0.4px);
}
.review-tittle-two{
  @include padding-letter-spacing(0,0,0,0,0.4px);
}
.first-review-paragraph{
  letter-spacing: 0.4px;
}
.third-review-paragraph{
  letter-spacing: 0.3px;
}
.review-paragraph{
  @include max-width-letter-spacing(366px,0.2px);
}
.fourth-review-paragraph{
  @include width-letter-spacing-margin(378px,0.1px,0,0,0,-2px);
}
.review-name-three{
  padding: 23px 0 7px 3px;
}
.review-tittle-three{
  padding: 0 0 0 3px;
}
.review-name-four{
  @include padding-margin(0,0,0,0,23px,0,6px,-2px);
}
.review-tittle-four{
  @include margin-letter-spacing(0,0,0,-4px,0.6px);
}
.additional-letter-spacing2{
  @include margin-letter-spacing(0,0,0,-6px,0.199px);
}
.additional-letter-spacing3{
  @include margin-letter-spacing(0, 1px, 0, -3px,0.199px);
}
.additional-letter-spacing{
  letter-spacing: 0.4px;
}
.more-line-height{
  margin: 1px 0 -1px -3px
}