@import "mixins";
.green-color-container{
  @include background-color-container(#17c2a4,auto);
  @include padding-margin(0, 0, 126px, 0,0,0,0,0);
}
.lil-center-heading{
  @include heading-slash-paragraph(#ffffff,#000000,#ffffff);
  margin:0 auto;
  .lil-paragraph{
    @include max-width-letter-spacing(611px,0.4px);
    padding-bottom: 1px;
  }
  .lil-tittle{
    margin-top: 118px;
  }
}
.flag{
  @include flex-flex-direction(column);
}
.item-title{
  @include variable-txt-color(24px,18px,700,0.029em,#ffffff);
  margin: 0 0 23px -11px;
}
.service-one-item{
  text-align: center;
  max-width: 199px;
}
.lil-description-items{
  max-width: 1440px;
}
.lorem-paragraph{
  @include variable-txt-color(16px,24px,300,0.01em,#ffffff);
  margin: 20px 9px 0 -3px;
}
.pencil{
  @include custom-images(90px,130px);
  margin: -2px auto 60px auto;
}
.setting{
  @include custom-images(161px,126px);
  margin: -1px auto 59px auto;
}
.rocket{
  @include custom-images(96px,136px);
  margin: 0 auto 54px auto;
}
.red-flag {
  @include custom-images(123px,122px);
  margin: 0 auto 62px auto;
}
.service-first-item{
  margin: 81px 0 0 71px;
}
.service-second-item{
  margin: 77px 0 0 51px;
}
.service-third-item{
  margin: 81px 0 0 42px;
  .item-title{
    @include margin-letter-spacing(0, 0, 0, 5px,0.3px);
  }
  .lorem-paragraph{
    @include margin-letter-spacing(20px, -8px, 0, 0,0.2px);
  }
}
.service-fourth-item{
  margin: 75px 0 0 51px;
  .item-title{
    @include margin-letter-spacing(0, 0, 0, 6px,0.4px);
  }
  .lorem-paragraph{
    @include margin-letter-spacing(20px, -7px, 0, 0,0.2px);
  }
}