@import "mixins";

.gray-color-container{
  @include background-color-container(#e7f1f8,auto);
  @include padding-margin(0, 0, 127px, 0,0,0,0,0);
}
.second-lil{
  @include heading-slash-paragraph(#3c4761,#000000,#3c4761);
  max-width: 739px;
  .lil-tittle{
    letter-spacing: 3.92px;
  }
  .lil-paragraph{
    max-width: 828px;
    @include padding-letter-spacing(3px, 0, 0, 4px,0.4px);
  }
  .lil-slash{
    margin: 1px auto 17px auto;
  }
}
.social-media-img{
  @include custom-images(32px,32px);
}
.work-tittle{
  @include variable-txt-color(16px,18px,400,0.02em,#30bae7);
}
.staff{
  @include variable-txt-color(24px,18px,700,0.02em,#27283d);
}
.staff-description{
  @include variable-txt-color(16px,24px,300,0.2px,#3c4761);
  @include padding-margin(0,0,0,0,22px,0,0,0);
}
.staff-photo{
  @include custom-images(200px,200px);
  @include border-radius-bg-color(50%,#878787);
}
.staff-list{
  @include padding-margin(76px,0,0,0,0,0,0,0);
  @include flex-space-between(space-between);
  flex-direction: row;
}
.card-item{
  max-width: 200px;
}
.first-two-cards {
  @include padding-margin(0, 0, 0, 0, 0, 0,0,50px);
}
.second-two-cards{
  @include padding-margin(0, 0, 0, 0, 0,50px,0, 0);
}
.first-two-cards,.second-two-cards{
  @include flex-space-between(space-between);
  flex-direction: row;
  text-align: center;
  max-width:480px;
  width: 100%;
}
.staff{
  display: block;
}
.first-staff-member{
  @include padding-margin(0,0,0,0,40px, 0, -4px, -60px);
}
.second-staff-member{
  @include padding-margin(0,0,0,0,40px, 0, -3px, 2px);
}
.third-staff-member{
  @include padding-margin(0,0,0,0,40px, 0, -3px, -58px);
  word-spacing: -1.7px;
}
.fourth-staff-member{
  @include padding-margin(0,0,0,0,40px, 0, -3px, 11px);
  word-spacing: -1.7px;
}
.every-first-staff-avatar{
  margin: 0 0 0 -30px;
}
.every-second-staff-avatar{
  margin: 0 30px 0 0;
}
.work-place-one{
  @include margin-letter-spacing(0,0,0,-58px,0.5px);
}
.first-staff-description{
  margin: 21px 30px 0 -31px;
}
.work-place-two{
  @include margin-letter-spacing(0,0,0,2px,0.5px);
}
.work-place-three{
  @include margin-letter-spacing(0,0,0,-59px,0.34px);
}
.third-staff-description{
  margin:22px 28px 0 -32px;
}
.work-place-four{
  @include margin-letter-spacing(0,0,0,13px,0.6px);
}
.fourth-staff-description{
  margin: 22px 0 0 10px;
}
.social-media{
  @include flex-space-between(space-between);
}
.person-one-social-media{
  @include margin-max-width(29px, 0, 0, -10px,162px);
}
.person-two-social-media{
  @include margin-max-width(27px,0,0,41px,119px);
}
.person-three-social-media{
  margin: 27px 0 0 -10px;
}
.person-four-social-media{
 @include margin-max-width(27px,0,0,40px,120px);
}