@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';
@import '../node_modules/bootstrap/scss/grid';
@import '../node_modules/bootstrap/scss/nav';
@import '../node_modules/bootstrap/scss/navbar';
@import '../node_modules/bootstrap/scss/utilities';
@import '../node_modules/bootstrap/scss/button-group';
@import '../node_modules/bootstrap/scss/buttons';
@import "style-reset";
@import 'header';
@import 'service';

@font-face {
  font-family: 'TitilliumWeb';
  font-weight: 300;
  src: url('../fonts/TitilliumWeb-Light.ttf') format("opentype"); /* IE9 Compat Modes */
  src: url('../fonts/TitilliumWeb-Light.ttf') format("truetype");
}
@font-face {
  font-family: 'TitilliumWeb';
  font-weight: 400;
  src: url('../fonts/TitilliumWeb-Regular.ttf') format("opentype"); /* IE9 Compat Modes */
  src: url('../fonts/TitilliumWeb-Regular.ttf') format("truetype");
}
@font-face {
  font-family: 'TitilliumWeb';
  font-weight: 600;
  src: url('../fonts/TitilliumWeb-SemiBold.ttf') format("opentype"); /* IE9 Compat Modes */
  src: url('../fonts/TitilliumWeb-SemiBold.ttf') format("truetype");
}
@font-face {
  font-family: 'TitilliumWeb';
  font-weight: 700;
  src: url('../fonts/TitilliumWeb-Bold.ttf') format("opentype"); /* IE9 Compat Modes */
  src: url('../fonts/TitilliumWeb-Bold.ttf') format("truetype");
}

body {
  font-family: TitilliumWeb;
  width: 100%;
  height: 100%;
}
  html,body {
  margin:0;
  padding:0;
  overflow-x:hidden;
}

